<div>
  <main>
    <h1>{{name}}</h1>
    <p><b>birthdate:</b> {{birthdate}}</p>
    <p><b>birthplace:</b> {{birthplace}}</p>
    <p><b>deathdate:</b> {{deathdate}}</p>
    <p><b>nationality:</b> {{nationality}}</p>
    <p><b>occupation:</b> {{occupation}}</p>
    <p><b>known for:</b>
      <ul>
        {{#each known_for}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </p>
    <br />
    <hr />
    <section>
      <div>
        <h2>Education:</h2>
        {{#each education}}
          <ul>
            <li>{{degree}}</li>
            <li>{{field}}</li>
            <li>{{institution}}</li>
            <li>{{year}}</li>
          </ul>
        {{/each}}

        <h2>Notable publication:</h2>
        <ul>
          <li>{{notable_publications.0.title}}</li>
          <li>{{notable_publications.0.year}}</li>
          <li>{{notable_publications.0.publisher}}</li>
          <br />
          <li>{{notable_publications.1.title}}</li>
          <li>{{notable_publications.1.year}}</li>
          <li>{{notable_publications.1.publisher}}</li>
        </ul>

        <h3>Partners:</h3>
        <ul>
          <li>{{partners.0.name}}</li>
          <li>{{partners.0.relationship}}</li>
          <li>{{partners.0.years}}</li>
          <br />
          <li>{{partners.1.name}}</li>
          <li>{{partners.1.relationship}}</li>
          <li>{{partners.1.years}}</li>
        </ul>

        <h2>Awards:</h2>
        {{#each awards}}
          <ul>
            <li>{{title}}</li>
            <li>{{year}}</li>
            <li>{{description}}</li>
          </ul>
        {{/each}}

        <h3>Influenced:</h3>
        {{#each influenced}}
          <ul>
            <li>{{this}}</li>
          </ul>
        {{/each}}

        <h3>Influences:</h3>
        {{#each influences}}
          <ul>
            <li>{{this}}</li>
          </ul>
        {{/each}}

        <h3>Quotes:</h3>
        {{#each quotes}}
          <ul>
            <li><q>{{this}}</q></li>
          </ul>
        {{/each}}

        <h3>Major discoveries:</h3>
        <ul>
          <article>
            <li>{{major_discoveries.0.title}}</li>
            <li>{{major_discoveries.0.year}}</li>
            <li>{{major_discoveries.0.description}}</li>
          </article>
        </ul>

        <h3>Contributions:</h3>
        {{#with contributions}}
          <ul>
            <article>
              <li>{{title}}</li>
              <li>{{description}}</li>
              <li>{{year}}</li>
              <li>{{field}}</li>
            </article>
          </ul>
        {{/with}}
      </div>
    </section>
  </main>
</div>