<div>
  <main>
    <div>
      <h1>{{name}}</h1>
      <ul>
        <li>{{description}}</li>
        {{#with history}}
          <li>year: {{year}}</li>
          <li>founder: {{founder}}</li>
        {{/with}}
      </ul>
      <hr class='my-4' />
      <h2>Types:</h2>
      {{#each types}}
        <span class='badge text-bg-primary'>
          {{this}}</span>
      {{/each}}
      <hr class='my-4' />
      <h2>Syntax:</h2>
      <ul>
        {{#with syntax}}
          <li><em>variables:</em></li>
          {{#each variables}}
            <span class='badge text-bg-Success'>
              {{this}}</span>
          {{/each}}
          <li><em>functions:</em></li>
          <span
            class='badge text-bg-Success'
          >{{functions}}</span>
          <li><em>conditionals:</em></li>
          {{#each conditionals}}
            <span
              class='badge text-bg-Success'
            >{{this}}</span>
          {{/each}}
          <li><em>loops:</em></li>
          {{#each loops}}
            <span
              class='badge text-bg-Success'
            >{{this}}</span>
          {{/each}}
          <li><em>classes:</em></li>
          {{#each classes}}
            <span
              class='badge text-bg-Success'
            >{{this}}</span>
          {{/each}}
        {{/with}}
      </ul>
      <hr class='my-4' />
      <h2>Features:</h2>
      {{#each features}}
        <p class='badge text-bg-Danger'>{{this}}</p>
      {{/each}}
      <hr class='my-4' />
      <h2>Libraries:</h2>
      {{#each libraries}}
        <span class='badge text-bg-warning'>{{this}}</span>
      {{/each}}
      <hr class='my-4' />
      <h2>Tools:</h2>
      {{#each tools}}
        <span class='badge text-bg-info'>{{this}}</span>
      {{/each}}
      <hr class='my-4' />
      <h2>Community:</h2>
      {{#each community}}
        <a href='#' class='btn btn-link my-button'>{{name}}:
          {{type}}</a>
      {{/each}}

      {{!-- <button type='button' class='btn btn-link my-button'>
        <ul >
          <li>
            {{community.0.name}}
            {{community.0.type}}
          </li>
          <li>
            {{community.1.name}}
            {{community.1.type}}
          </li>
          <li>
            {{community.2.name}}
            {{community.2.type}}
          </li>
          <li>
            {{community.3.name}}
            {{community.3.type}}
          </li>
        </ul>
      </button> --}}

    </div>
  </main>
</div>