<div>
  {{#with person}}
    <main>
      <div>
        <h1>{{name}} </h1>
      </div>

      <div>
        <p>age:{{age}}</p>
        <p>gender:{{gender}}</p>
      </div>
      <br />
      <div>
        <address>
          {{#with address}}
            <div>
              <span>{{street}},
                {{city}},
                {{state}},
                {{zip}},
                {{country}}
              </span>
            </div>
          {{/with}}
        </address>
        <br />
        <hr />

        <section>
          <h2>Education</h2>
          <div>
            <ul>
              {{#each education}}
                <li> {{degree}}</li>
                <li> {{major}}</li>
                <li> {{university}}</li>
                <li> {{graduationYear}}</li>
              {{/each}}
            </ul>
          </div>
        </section>

        <section>
          <h2>Work Experience</h2>
          <div>
            {{#each workExperience}}
              <ul>
                <li>
                  Company:
                  <strong>{{company}}</strong></li>
                <li> {{title}}</li>
                <li>
                  {{startDate}}
                  -
                  {{endDate}}
                </li>
                {{#each responsibilities}}
                  <li> {{this}}</li>
                {{/each}}
                <li>Years founded: {{year_founded}}</li>
                <li>Industry: {{industry}}</li>
				<br>
                <li>
                  <em>Employees:</em>
                  {{#each employees}}
                    <ul>
                      <li>{{name}},
                        {{position}},
                        {{department}}</li>
                    </ul>
                    <br />
                    <strong>Projects:</strong>
                    {{#each projects}}
                      <ul>
                        <li>{{name}}, {{description}}</li>
                        <li>{{status}}</li>
                      </ul>
                      <br />
                      <em>Teams:</em>
                      {{#each teams}}
                        <ul>
                          <li>{{team_name}}</li>
                          {{#with team_leader}}
                            <li>{{name}},
                              {{title}},
                              {{email}}
                            </li>
                          {{/with}}
                        {{!-- </ul> --}}
                        <br />
                        <em>Team member:</em>
                        {{#each team_members}}
                          <ul>
                            <li>{{name}},
                              {{title}},
                              {{email}}</li>
                          </ul>
                          <em>Skills:</em>
                          <ul>
                            {{#each skills}}
                              <li>{{this}}</li>
                            {{/each}}
                          </ul>
                          <br />
                          <strong>Projects:</strong>
                          {{#each projects}}
                            <ul>
                              <li>{{name}}</li>
                              <li>{{description}}</li>
                            {{!-- </ul>
                            <br />
                            <em>Technologies:</em>
                            <ul> --}}
                              {{#each technologies}}
                                <li> {{this}}</li>
                              {{/each}}
                            {{!-- </ul> --}}
                            <br />
                            <em>Team members:</em>
                            {{#each team_members}}
                              <ul>
                                <li>{{name}}, {{title}}</li>
                              </ul>
                            {{/each}}
                          {{/each}}
                        {{/each}}
                      {{/each}}
                    {{/each}}
                  {{/each}}
                </li>
              </ul>
            {{/each}}
          </div>
        </section>
      </div>
    </main>
  {{/with}}
</div>