<div>
  {{#with person}}
    <main>
      <section>
        <div>
          <div>
            <h1 h1>{{name}} </h1>
          </div>

          <div>
            <ul>
              <li>age:{{age}}</li>
              <li>gender:{{gender}}</li>
            </ul>
          </div>

          <div>
            <address>
              {{#with address}}
                <span>{{street}},
                  {{city}},
                  {{state}},
                  {{zip}},
                  {{country}}</span>
              {{/with}}
            </address>
          </div>

          <hr />

        </div>
      </section>

      <section>
        <h2>Education</h2>
        <div class="card card body pt-2">
          {{#each education}}
            <ul>
              <li> {{degree}}</li>
              <li> {{major}}</li>
              <li> {{university}}</li>
              <li> {{graduationYear}}</li>
            </ul>
          {{/each}}
        </div>
      </section>

      <section>
        <h2>Work Experience</h2>
          <div class="card card-body pt-2">
              {{#each workExperience}}
                <li>Company:<strong>{{company}}</strong></li>
                <li> {{title}}</li>
                <li>
                  {{startDate}}
                  -
                  {{endDate}}
                </li>
                {{#each responsibilities}}
                  <li> {{this}}</li>
                {{/each}}
                <li>Years founded: {{year_founded}}</li>
                <li>Industry: {{industry}}</li>
                  <div class="mt-3">
                    <em>Employees:</em>
                  </div>
                {{#each employees}}
                  <li>{{name}},
                    {{position}},
                    {{department}}</li>
                  <div class='card card-body mt-3'>
                    <strong>Projects:</strong>
                    {{#each projects}}
                      <li>{{name}}, {{description}}</li>
                      <li>{{status}}</li>
                      <div class="mt-3">
                        <em>Teams:</em>
                        {{#each teams}}
                          <li>{{team_name}}</li>
                          {{#with team_leader}}
                            <li>{{name}},
                              {{title}},
                              {{email}}</li>
                          {{/with}}
                          <div class="mt-3">
                            <em>Team member:</em>
                            {{#each team_members}}
                              <li>{{name}},
                                {{title}},
                                {{email}}</li>
                              {{#each skills}}
                                <li>{{this}}</li>
                              {{/each}}
                              <div class="card card-body mt-3">
                                <strong>Projects:</strong>
                                {{#each projects}}
                                  <li>{{name}}</li>
                                  <li>{{description}}</li>
                                  {{#each technologies}}
                                    <li> {{this}}</li>
                                  {{/each}}
                                  <div class="mt-3">
                                    <em>Team members:</em>
                                    {{#each team_members}}
                                      <li>{{name}},
                                        {{title}}</li>
                                    {{/each}}
                                  </div>
                                {{/each}}
                              </div>
                            {{/each}}
                          </div>
                        {{/each}}
                      <div>    
                    {{/each}}
                  </div>
                {{/each}}
              {{/each}}
          </div>
      </section>
    </main>
  {{/with}}
</div>