<div>
  <main>
    {{#with program}}
      <div>
        <ul>
          <h1>Excursion</h1>
          {{#with excursion}}
            <li>Name: {{name}}</li>
            {{#with location}}
              <li>Location: {{city}}</li>
              <li>Country: {{country}}</li>
            {{/with}}
            <li>Date: {{date}}</li>
            <h2>Program:</h2>
            <li>Name: {{program.0.name}}</li>
            <li>Type: {{program.0.type}}</li>
            <li>Duration: {{program.0.duration}}</li>

            {{#each program}}
              {{#with details}}
                {{#with museum}}
                	<h3>Location:</h3>
                  	<li><span>{{name}},
					{{#with location}}
                     {{address}}, {{city}}, {{country}}</span></li>

						<ul>            
							<h3>Exhibits:</h3>
							<li>name: {{../exhibits.0.name}}</li>
							<li>artist: {{#if ../exhibits.0.artist }} {{../exhibits.0.artist}} 
								{{else}}
								<em>(unknown)</em>
								{{/if}}
							</li>
							<li>description: {{../exhibits.0.description}}</li>
							<li>audio guide: {{#if  ../exhibits.0.audio_guide }} 
								<strong>(present)</strong>  
								{{else}}
								<strong>(absent)</strong> 
								{{/if}} 
							</li>
							<br>
							<li>name: {{../exhibits.1.name}}</li>
							<li>artist: {{#if ../exhibits.1.artist }} {{../exhibits.1.artist}} 
								{{else}}
								<em>(unknown)</em>	
								{{/if}}
							</li>
							<li>description: {{../exhibits.1.description}}</li>
							<li>audio guide: {{#if  ../exhibits.1.audio_guide }} 
								<strong>(present)</strong> 
								{{else}}
								<strong>(absent)</strong>
								{{/if}} 
							</li>
						</ul>

						<h3>Guide:</h3>
						<li>name: {{../../guide.name}}</li>
						<li>language: {{../../guide.language}}</li>
						<li>rating: {{../../guide.rating}}</li>

                  	{{/with}}
                {{/with}}
              {{/with}}
            {{/each}}

			    <br>
			    <hr>
			    
            <h2>Program:</h2>
            <li>Name: {{program.1.name}}</li>
            <li>Type: {{program.1.type}}</li>
            <li>Duration: {{program.1.duration}}</li>

			{{#each program}}
              {{#with details}}
                {{#with venue}}
                <h3>Venue:</h3>
                  <li><span>{{name}}, 
                  {{#with location}}
                    {{address}}, {{city}}, {{country}}</span></li>

						<h3>Performers:</h3>
					<ul>	
						<li>{{../../performers.0.name}}</li>
						<li>{{../../performers.0.type}}</li>
							<br>
						<li>{{../../performers.1.name}}</li>
						<li>{{../../performers.1.type}}</li>
					</ul>

					<h3>Guide:</h3>
					<li>name: {{../../guide.name}}</li>
					<li>language: {{../../guide.language}}</li>
					<li>rating: {{../../guide.rating}}</li>

                  {{/with}}
                {{/with}}
              {{/with}}
            {{/each}}
          {{/with}}
        </ul>
      </div>
    {{/with}}
  </main>
</div>