<div>
  <main>
    <section>
      <div class='card'>
        {{#with navigation}}
          <div class='nav nav-tabs'>
            {{#each links}}
              <div class='nav-item'>
                <a href='{{href}}' class='nav-link'>{{text}}
                </a>
              </div>
            {{/each}}
            <a
              href='#'
              class='nav-link disabled'
            >Disabled</a>
          </div>
        {{/with}}
      </div>
    </section>

    <section>
      <div class="mt-4">
        <ol class="breadcrumb">                                     
          {{#each breadcrumb}}
          <li class="breadcrumb-item">
              {{#if url}}                            
              <a href={{url}}class="breadcrumb-item">{{name}}</a>
              {{else}}
              {{name}}
              {{/if}}
          </li>
          {{/each}}
          </ol>                                                
      </div>                                                       
    </section>

    <section>
      <h1>{{header}}</h1>
      <div class="row my-4">
      {{#each sortBlock}}
      <div class="col-3">
        <select class="form-select">
        <option selected>{{placeholder}}</option>
        
        {{#each options}}
         <option>{{value}}: {{text}}</option> 
          
        {{/each}}
        </select>
        </div>
      {{/each}}
      </div>
      
    </section>

    <section>
      <div class='row g-2'>
        <div class='col-4'>
          <div class='card card-body'>
            {{#with filterBlock}}
              {{#with sellers}}
                <p>{{title}}</p>
                {{#each list}}
                <div class="form-check">
                  <label class="form-check-label">{{value}}</label>
                  <input type="checkbox" class="form-check-input">
                </div>
                {{/each}}
              {{/with}}

              <hr>

              {{#with brands}}
                <p>{{title}}</p>
                <input class="form-control mb-3" placeholder={{input.placeholder}}>
                  {{#each options}}
                    <div class="form-check">
                      <label class="form-check-label">{{value}}</label>
                      <input type="checkbox" class="form-check-input">
                    </div>
                  {{/each}}
              {{/with}}

              <hr>

              {{#with price}}
                <p>{{title}}</p>
                <input class="form-control mb-3" placeholder='{{range.from}}'>
                <input class="form-control mb-3" placeholder='{{range.to}}'>
                {{#with button}}
                  <div class='2'>
                    <a
                      href={{link}}
                      class='btn btn-outline-secondary'
                    >{{text}}
                    </a>
                  </div>
                {{/with}}
              {{/with}}

              {{#each filterList}}
              <hr>
                <p>{{title}}</p>
                  {{#each options}}
                    <div class="form-check">
                      <label class="form-check-label">{{value}}</label>
                      <input type="checkbox" class="form-check-input">
                    </div>
                  {{/each}}
              {{/each}}
            {{/with}}
          </div>
        </div>

        <div class='col-8'>
          <div class='row g-2'>
            {{> catalogItem}}
            
            {{!-- {{#each goodsList}}
              <div class='col-6'>
                <div class='card'>
                  <img
                    src={{img}}
                    alt='random pic'
                    class='card-img-top'
                  />
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8 mb-2">
                        {{#if isHot}}
                          <button
                            class='badge text-bg-warning text-light rounded-pill text-uppercase'
                          >HOT!</button>
                        {{/if}}
                        {{#if isNew}}
                          <button
                            class='badge text-bg-primary rounded-pill'
                          >Нове</button>
                        {{/if}}
                      </div>
                    </div>
                    {{#if isFast}}
                      <button
                        class='badge text-bg-success mt-2'
                      >Швидка доставка</button>
                    {{/if}}
                    {{#if isFree}}
                      <button
                        class='badge text-bg-secondary mt-2'
                      >Безкоштовна доставка</button>
                    {{/if}}

                    <h4 class="mt-3"><strong>{{name}}</strong></h4>
                    <span>{{review.amount}} {{review.text}}</span>
                    <p class="display-6 mt-2"><strong>{{price}}</strong></p>
                    <p>{{delivery}}</p>
                    {{#each buttons}}
                      {{#if isPrimary}}
                        <a
                          href={{link}}
                          class='btn btn-primary mb-2'
                        >{{text}}</a>
                      {{/if}}
                      {{#if isSecondary}}
                        <a
                          href={{link}}
                          class='btn btn-secondary'
                        >{{text}}</a>
                      {{/if}}
                    {{/each}}
                    {{#each characteristics}}
                      <ul class="mt-3">
                        <li><span>{{title}}: {{value}}</span></li>
                      </ul>
                    {{/each}}
                  </div>
                </div>
              </div>
            {{/each}} --}}
          </div>
        <div>
      </div>
    </section>

    <section>
      <div class="card card-body text-bg-success mt-4">
        {{#with service}}
          <h2 class="text-center">{{title}}</h2>
          <p class="text-capitalize text-center">{{description}}</p>
          {{#each buttons}}
            <div class="col-2 mx-auto">
              <a
                href={{link}}
                class='btn btn-primary'
              >{{text}}
              </a>
            </div>
          {{/each}}
        {{/with}}
      </div>
    </section>

    <hr class='my-5' />

    <section>
      <div class='row'>
        {{#each footer}}
          <div class='col-2'>
            {{#each this}}
            <div class='nav nav-item'>
              {{#if @last}}
              <a
                class='nav-link disabled'
                href='{{link}}'
              >{{text}}
              </a>
              {{else}}
              <a
                class='nav-link'
                href='{{link}}'
              >{{text}}
              </a>
              {{/if}}
            </div>
            {{/each}}

            {{!-- <div class='nav nav-item'>
              <a
                class='nav-link'
                href='{{0.link}}'
              >{{0.text}}</a>
            </div>

            <div class='nav nav-item'>
              <a
                class='nav-link'
                href='{{1.link}}'
              >{{1.text}}</a>
            </div>

            <div class='nav nav-item'>
              <a
                class='nav-link'
                href='{{2.link}}'
              >{{2.text}}</a>
            </div>

            <div class='nav nav-item'>
              <a
                class='nav-link disabled'
                href='{{3.link}}'
              >{{3.text}}</a>
            </div> --}}
          </div>
        {{/each}}
      </div>
    </section>
  </main>
</div>