{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
    <header>
        <div>
            <h1>{{name.firstname}} {{name.lastname}}</h1>
        </div>
        <div>
            <b>{{position}}</b>
        </div>
        <br />
        <hr />
    </header>

    <main>
        <section>
            <div>
                <h2>Summary</h2>
            </div>
            <div>
                <p>
                    Open-minded for new technologies, with 1 years of
                    experience in development. Whenever I start to
                    work on a new project I learn the domain and try
                    to understand the idea of the project. Good team
                    player, every colleague is a friend to me.
                </p>
            </div>
        </section>

        <section>
            <div>
                <h2>Other experience</h2>
            </div>
            <div>
                <p>
                    Pet project for parsing sport betting data from
                    different platforms ( odds ) and sport statistics
                    ( tournament position, goals etc), analyzing by
                    simple mathematics models and preparing
                    probability for such events like: money line -
                    first win / draw / second win, totals etc.
                </p>
            </div>
        </section>
    </main>

    <footer>
        <hr />
        <br />

        {{!-- {{> link abc=social.email.href}} --}}

        {{#with social}}
        {{!-- {{#with email}} --}}
        {{!-- {{> link abc=href info=text}} --}}
        {{> link data=email}}
        {{!-- {{> link}} --}}
        {{!-- <a href='{{href}}'>{{text}}</a> --}}
        {{!-- / --}}
        {{!-- {{/with}} --}}

        {{!-- {{#with phone}} --}}
        {{> link data=phone}}
        {{!-- {{> link}} --}}
        {{!-- <a href='{{href}} '>{{text}}</a> --}}
        {{!-- / --}}
        {{!-- {{/with}} --}}
        {{!-- {{#with linkedin}} --}}
        {{> link data=linkedin}}
        {{!-- {{> link}} --}}
        {{!-- <a href='{{href}}' target='_blank'>{{text}}</a> --}}
        {{!-- {{/with}} --}}
        {{/with}}

        {{!-- <a href="{{social.email.href}}">{{social.email.text}}</a> /
        <a href="{{social.phone.href}} ">{{social.phone.text}}</a> /
        <a href="{{social.linedin.href}}" target="_blank">{{social.linedin.text}}</a> --}}
    </footer>

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}