<div>
  <main>
    {{#with web}}
        <div>
          <h1>Languages:</h1>
          {{#each languages}}
                                                      {{!-- HTML --}}
                  <li>name: <strong>{{../languages.0.name}}</strong></li>
                  <li>version: {{../languages.0.version}}</li>
                  <li>description: {{../languages.0.description}}</li>
                  <br />
            
                {{#each elements}}
                  <h2>Element div :</h2>
                  <li>name: {{../elements.0.name}}</li>
                  <li>description: {{../elements.0.description}}</li>

                      <h3>Attributes:</h3>
                      <li>name: {{attributes.0.name}}</li>
                      <li>description:
                        {{attributes.0.description}}</li>
                      <br />
                      <li>name: {{attributes.1.name}}</li>
                      <li>description:
                        {{attributes.1.description}}</li>
                      <br />
                    
                  <h2>Element p :</h2>
                  <li>name: {{../elements.1.name}}</li>
                  <li>description:
                    {{../elements.1.description}}</li>
                    <br>

                      <h3>Attributes:</h3>
                      <li>name: {{attributes.0.name}}</li>
                      <li>description:
                        {{attributes.0.description}}</li>
                      <br />
                      <li>name: {{attributes.1.name}}</li>
                      <li>description:
                        {{attributes.1.description}}</li>
                      <br />
                {{/each}}
                
                                                      {{!-- CSS --}}
              <hr>
              <li>name: <strong>{{../languages.1.name}}</strong></li>
              <li>version: {{../languages.1.version}}</li>
              <li>description: {{../languages.1.description}}</li>
              <br />
                {{#each properties}}
                  <h2>Properties :</h2>
                  <li>name: {{../properties.0.name}}</li>
                  <li>description: {{../properties.0.description}}</li>
                
                    <h3>Values:</h3>
                      <li>name: {{values.0.value}}</li>
                      <li>description:
                        {{values.0.description}}</li>

                      <li>name: {{values.1.value}}</li>
                      <li>description:
                        {{values.1.description}}</li>
                      <br />
                  {{!-- {{/each}} --}}
                  <h2>Properties :</h2>
                  <li>name: {{../properties.1.name}}</li>
                  <li>description: {{../properties.1.description}}</li>
                  {{!-- {{#each properties}} --}}
                      <h3>Values:</h3>
                      <li>name: {{values.0.value}}</li>
                      <li>description:
                        {{values.0.description}}</li>
                      <li>name: {{values.1.value}}</li>
                      <li>description:
                        {{values.1.description}}</li>
                      <br />
                {{/each}}
                  <hr>
                                                      {{!-- JS --}}
              <li>name: <strong>{{../languages.2.name}}</strong></li>
              <li>version: {{../languages.2.version}}</li>
              <li>description: {{../languages.2.description}}</li>
              <br />
                {{#each functions}} 
                  <h2>Functions :</h2>
                  <li>name: {{../functions.0.name}}</li>
                  <li>description: {{../functions.0.description}}</li>
                    <br>
                
                  <h3>Parameters :</h3>
                    <li>name: {{parameters.0.name}}</li>
                    <li>type: {{parameters.0.type}}</li>
                    <li>description: {{parameters.0.description}}</li>
                  <br>
                {{!-- {{/each}} --}}
                  <h2>Functions :</h2>
                  <li>name: {{../functions.1.name}}</li>
                  <li>description: {{../functions.1.description}}</li>
                    <br>
                {{!-- {{#each functions}} --}}
                   <h3>Parameters :</h3>          
                  <li>name: {{parameters.1.name}}</li>
                  <li>type: {{parameters.1.type}}</li>
                  <li>description: {{parameters.1.description}}</li>
                  <br>
                {{/each}}
          {{/each}}
      </div>
    {{/with}}
  </main>
</div>