<div>
  <main>
    {{#with web}}
      <div>
        <h1>Languages:</h1>
        {{#each languages}}
          {{! <hr /> }}
          <div class='card card-body text-bg-warning my-5'>
            <li>name: <strong>{{name}}</strong></li>
            <li>version: {{version}}</li>
            <li>description: {{description}}</li>
          </div>
          {{! <hr /> }}
          {{! HTML }}
          {{#each elements}}
            <div
              class='card card-body text-bg-info mb-3 pb-0'
            >
              <ul>
                <div class='mb-2'>
                  <li><em>Elements</em>: {{name}} </li>
                  <li>description: {{description}}</li>
                </div>
              </ul>
              {{#each attributes}}
                <div class='card card-body mb-3'>
                  <ul>
                    <ul>
                      <div class='mb-2'>
                        <li>name: {{name}} </li>
                        <li>description:
                          {{description}}</li>
                      </div>
                    </ul>
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/each}}

          {{! CSS }}
          {{#each properties}}
            <div
              class='card card-body text-bg-info my-3 pb-0'
            >
              <em>Properties</em>:
              <ul>
                <div class='mb-2'>
                  <li>name: {{name}}</li>
                  <li>description: {{description}}</li>
                </div>
              </ul>
              {{#each values}}
                <div class='card card-body pb-0 mb-3'>
                  <ul>
                    <div class='mb-2'>
                      <em>Values</em>:
                      <ul>
                        <li>name: {{value}}</li>
                        <li>description:
                          {{description}}</li>
                      </ul>
                    </div>
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/each}}

          {{! JS }}

          {{#each functions}}
            <div
              class='card card-body text-bg-info my-3 pb-0'
            >
              <em>Functions:</em>
              <ul>
                <div class='mb-2'>
                  <li>name: {{name}}</li>
                  <li>description: {{description}}</li>
                </div>
              </ul>
              {{#each parameters}}
                <div class='card card-body pb-0 mb-3'>
                  <ul>
                    <em>Parameters</em>:
                    <div class='mb-2'>
                      <ul>
                        <li>name: {{name}}</li>
                        <li>type: {{type}}</li>
                        <li>description:
                          {{description}}</li>
                      </ul>
                    </div>
                  </ul>
                </div>
              {{/each}}
            </div>
          {{/each}}

        {{/each}}
      </div>
    {{/with}}
  </main>
</div>