{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  {{> navigation}}
  
  {{#with main}}
    <main>
      <section>
        {{> title big=true data='Work history'}}
          <div class="card card-body">
            <div>
              <ul>
                {{#each works}}
                  <li>
                    <div>{{position}} </div>

                    <div>
                        {{duration.from}} -
                        {{#if duration.to}}
                            {{duration.to}}
                        {{else}}
                            (досі працюємо)
                        {{/if}}
                    </div>

                    <div>
                        {{#if company.url}}
                            {{> link text=company.name href=company.url blank=true noLine=true}}</a></div>
                        {{else}}
                            <b>{{company.name}}</b>
                        {{/if}}

                    <div class="my-4"><strong>Projects ({{projectAmount}})</strong></div>

                    <div class="card card-body">
                      <ul>
                        {{#each projects}}
                          <li>
                            <div>{{> link text=name href=url blank=true noLine=true}}</a></div>

                            <div>
                                {{about}}
                            </div>

                            <div class="mt-3">
                                <em>Project stack ({{stackAmount}}) </em>
                            </div>

                            <div class="card card-body text-bg-primary mt-3">
                                <ul>
                                    {{#each stacks}}
                                        <li>{{name}}</li>
                                    {{/each}}
                                </ul>
                            </div>

                            <div class="mt-3">
                                <em>Projects award ({{awardAmount}}) </em>
                            </div>
                            <div class="card card-body text-bg-success my-3">
                                <ul>
                                    {{#each awards}}
                                        <li>{{name}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                          </li>
                        {{/each}}
                      </ul>
                    <div>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
      </section>
    </main>
  {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}