{{#each goodsBlock}}
  <div class='card px-1 py-1 mb-4'>
    <div class='row'>
      <div class='col-2'>
        <img src={{image}} alt='random pic' />
      </div>
      <div class='col-5 pt-1'>
        <h5>{{name}}</h5>
        {{description}}
      </div>
      <div class='col-2 pt-5'>
        {{price.title}}
        {{price.value}}
      </div>
      <div class='col-1 pt-5'>
        {{amount}}
      </div>
      <div class='col-2 mb-2'>
        {{#each buttons}}
          <div class='pt-2'>
            {{#if isPrimary}}
              <button
                class='btn btn-primary'
              >{{text}}</button>
            {{/if}}
            {{#if isDanger}}
              <button
                class='btn btn-outline-danger'
              >{{text}}</button>
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/each}}