{{#with footer}}
	<footer>
		<hr />
		<br />
		<div>
			{{!-- {{#with social}} --}}
			{{> link text=social.email.text href=social.email.href blank=true }}
			{{> link text=social.phone.text href=social.phone.href blank=true }}
			{{> link text=social.linkedin.text href=social.linkedin.href blank=true noLine=true}}
			{{!-- {{/with}} --}}
		</div>
		<br>
		<div>
			<em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em>
		</div>
		<br>
		<div>
			{{../header.address}}
		</div>
	</footer>
{{/with}}

	{{!-- {{/with}} --}}

    {{!-- {{#with footer}}
	<footer>
		<hr />
		<br />
		<div>
			{{#with social}}
			{{> link text=email.text href=email.href blank=true }}
			{{> link text=phone.text href=phone.href blank=true }}
			{{> link text=linkedin.text href=linkedin.href blank=true noLine=true}}
			{{/with}}
		</div>
		<br>
		<div>
			<em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em>
		</div>
		<br>
		<div>
			{{../header.address}}
		</div>
	</footer>
	{{/with}} --}}