{{!--
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

<head>
	<title>
		{{page.title}}
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />
</head>

<body>

	{{> nav}}

	{{!-- <nav>
		{{> link text="summary" href="/summary" line=true }}
		{{> link text="skills" href="/skills" line=true }}
		{{> link text="education" href="/education" line=true }}
		{{> link text="work" href="/work" line=true }}
	</nav> --}}

	<br>
	<hr>

	{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
	{{{body}}}

	<br>
	<hr>

	{{#with footer}}
	<footer>
		<div>
			{{#with social}}
			{{> link text=email.text href=email.href blank=true }}
			{{> link text=phone.text href=phone.href blank=true }}
			{{> link text=linkedin.text href=linkedin.href blank=true }}
			{{/with}}
		</div>
		<br>
		<div>
			<em>Copyright by {{../header.name.firstname}} {{../header.name.lastname}}</em>
		</div>
		<br>
		<div>
			{{../header.address}}
		</div>
	</footer>
	{{/with}}

</body>

</html>